<div id="login-page">
	  	<div class="container">
	  	
		      <form class="form-login" action="index.html">
		        <h2 class="form-login-heading">Administrador Inicio de Sesión</h2>
		        <div class="login-wrap">
		            <input type="text" class="form-control" placeholder="Usuario" autofocus>
		            <br>
		            <input type="password" class="form-control" placeholder="Contraseña">
                    <br>
		            <button class="btn btn-theme btn-block" ui-sref="admin-main" type="submit"> Ingresar</button>
                    <br>
		        </div>
		      </form>	  		  	
	  	</div>
	  </div>