<div class="jumbotron">
  <h1>Bienvenido</h1>   
    <img src="images/shop.png" alt="shop" />
</div>

<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-10">
                  <div class="form-panel">
                  	  <h4 class="mb"><i class="fa fa-angle-right"></i> Ingrese a continuación la información concerniente a la empresa</h4>
                      <form class="form-horizontal style-form" method="get">
                          <!--Name-->
                          <div class="form-group">                            
                              <label class="col-sm-2 col-sm-2 control-label">Nombre</label>
                              <div class="col-sm-6">
                                  <input type="text" class="form-control" name="shop-name" required>
                              </div>
                          </div>
                         <!--Logo-->
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Imagen logo</label>
                              <div class="col-sm-6">
                                  <input type="file" accept="image/*" class="form-control" name="shop-description">
                              </div>
                          </div>
                          <!--Description-->
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Descripción</label>
                              <div class="col-sm-6">
                                  <textarea type="text" class="form-control" name="shop-description" required></textarea>
                              </div>
                          </div>
                          <!--Location-->
                          <div class="form-group">                            
                              <label class="col-sm-2 col-sm-2 control-label">Ubicación</label>
                              <div class="col-sm-6">
                                  <input type="text" class="form-control" name="shop-location" required>
                              </div>
                          </div>

                      </form>
                      
                      <!--Cancel & Ok buttons-->
                    <div class="row">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-default btn-block" ui-sref="login" type="submit" name="cancel"><i class="fa fa-lock"></i> Cancelar</button>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-theme btn-block" ui-sref="login" type="submit" name="accept"><i class="fa fa-lock"></i> Aceptar</button>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>         
                      
                  </div>
          		</div><!-- col-lg-12-->      	
          	</div><!-- /row -->
            

