      	<h3><i class="fa fa-angle-right"></i> Agregar Tienda</h3>
          	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-10">
                  <div class="form-panel">
                  	  <h4 class="mb"><i class="fa fa-angle-right"></i> A continuación deberá llenar la información concerniente a la tienda que desea agregar</h4>
                      <form class="form-horizontal style-form" ng-submit="createShop(shop)">
                          <!--Name-->
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Nombre</label>
                              <div class="col-sm-6">
                                  <input type="text" ng-model="shop.name" class="form-control" name="name" required/>
                              </div>
                          </div>
                          <!--Description-->
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Descripción</label>
                              <div class="col-sm-6">
                                  <textarea type="text" ng-model="shop.description" class="form-control" name="description"></textarea>
                              </div>
                          </div>
                          
                          <!--Address-->
                          <h5><i class="fa fa-angle-right"></i> NOTA:<br/> Es importante que la dirección sea validada con Google Maps, esto debido a que los usuarios
                              de la aplicación podrán ver la ubicación de la tienda en el mapa. Para asegurar esto, haga clic <a href="https://www.google.com/maps"                                           target="_blank"><u>aquí</u></a> e ingrese la dirección 
                          de la tienda en Google Maps, una vez ubicada ingrese esta dirección en el siguiente campo de texto. <br/><br/> 
                              <b>Ejemplo:</b> Universidad Distrital Francisco Jose de Caldas, Carrera 8, Bogotá, Chapinero, Colombia</h5>
                          <br/>
                          <div class="form-group">
                              
                              <label class="col-sm-2 col-sm-2 control-label">Dirección</label>
                              <div class="col-sm-6">
                                  <input type="text" ng-model="shop.address" class="form-control" name="adress" required/>
                              </div>
                          </div>
                          <br/>
                          <br/>
                          <!--Cancel and ok buttons-->
                            <div class="row">
                                <div class="col-lg-4">
                                </div>
                                <span us-spinner ng-show="dataLoading"></span>
                                <div class="col-lg-2">
                                    <button class="btn btn-theme btn-block" ng-show="!dataLoading" type="submit" name="accept"> Aceptar</button>
                                </div>
                                <div class="col-lg-4">
                                </div>
                            </div>    
                      </form>
                      
                      <!--Cancel & Ok buttons-->
                      
                  </div>
          		</div><!-- col-lg-12-->      	
          	</div><!-- /row -->
            

