<div class="jumbotron" style="text-align:center">
  <h1>A buena hora!</h1>
  <p class="lead">
    <img src="images/bag1.png" alt="promo"><br>
    Bienvenido a Promo App. Con esta aplicación podrás crear una de las mejores estrategias de mercado para tu empresa, ofreciendote mayor probabilidad de obtener 
      clientes con relación a las promociones que ingreses, además de darte la posibilidad de decirte cuál es el mercado que le interesa más tus productos gracias
      a un sistema de recomendación que le mostrará a los usuarios sólo las promociones que le interesen de acuerdo a su edad, género y gustos personales.</br>
        Comienza creando sesión en el botón "Crear cuenta" que se encuentra arriba a la izquierda, o ingresa si ya tienes una. 
  </p>
</div>


          	<h3><i class="fa fa-angle-right"></i>Nuestras suscripciones</h3>
          	<div class="row mt">
          		<div class="col-lg-12">
    

					<! -- ROW OF PANEL -->
					<div class="row">
						
						<!-- Suscripcion 1 -->
						<div class="col-lg-4 col-md-4 col-sm-4 mb">
                           <!-- {{awesomeThings[0]}} -->
							<div class="weather-3 pn centered">
								<h1>Standard</h1>
								<div class="info">
									<div class="row">
								        <h3 class="centered">$10.000</h3>
										<div class="col-sm-12 col-xs-12">
											<p class="goleft" style="text-align: center">No permite acceso a plataforma de marketing la cual facilita información estadística, pero puede ingresar 2 promociones.</p>
										</div>
									</div>
								</div>
							</div>
						</div><! --/col-md-4 -->
                        
                        <!-- Suscripcion 2 -->
						<div class="col-lg-4 col-md-4 col-sm-4 mb">
							<div class="weather-3 pn centered">
								<h1>Profesional</h1>
								<div class="info">
									<div class="row">
								        <h3 class="centered">$30.000</h3>
										<div class="col-sm-12 col-xs-12">
											<p class="goleft" style="text-align: center">Acceso a la plataforma de marketing, así como a 5 categorias y                                                podrá ingresar hasta 10 promociones. </p>
										</div>
									</div>
								</div>
							</div>
						</div><! --/col-md-4 -->
                        
                        <!-- Suscripcion 3 -->
						<div class="col-lg-4 col-md-4 col-sm-4 mb">
							<div class="weather-3 pn centered">
								<h1>Premium</h1>
								<div class="info">
									<div class="row">
								        <h3 class="centered">$50.000</h3>
										<div class="col-sm-12 col-xs-12">
											<p class="goleft" style="text-align: center">Tendrá acceso a la plataforma de marketing, a todas las                                                           categorías y podrá ingresar hasta 20  productos en promoción.</p>
										</div>
									</div>
								</div>
							</div>
						</div><! --/col-md-4 -->
					</div><!-- /END ROW OF PANEL -->
					
          		</div>
          	</div>
