<div id="login-page">
	  	<div class="container">
	  	
		      <form class="form-login" action="index.html">
		        <h2 class="form-login-heading">Registrate</h2>
		        <div class="login-wrap">
		            <input type="email" class="form-control" placeholder="Correo electrónico" name="email" autofocus required>
		            <br>
                    <input type="tel" class="form-control" placeholder="Teléfono de contacto" name="tel" autofocus>
		            <br>
		            <input type="password" class="form-control" placeholder="Contraseña" name="password" required>
                    <br>
                    <input type="password" class="form-control" placeholder="Vuelve a introducir Contraseña" name="password-confirm" required>
                    <br>
		            <button class="btn btn-theme btn-block" ng-href="" type="submit"><i class="fa fa-lock"></i> Terminar</button>
                    <hr>
                    <div class="login-social-link centered">
                        <p>No necesitas adquirir una suscripción para crear una cuenta</p>
                    </div>
		        </div>
		      </form>	  	
	  	
	  	</div>
	  </div>