
<h3><i class="fa fa-angle-right"></i> Suscripciones </h3>
<h5><i class="fa fa-angle-right"></i> Haz clic sobre el titulo la sa suscripción de tu interés para obtener más información </h5>
<div class="row mt">
    <div class="col-lg-12">

        <! -- 2ND ROW OF PANELS -->
        <div class="row">
            <! -- STANDARD -->
            <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <div class="content-panel pn">
                    <div id="profile-standard">

                    </div>
                    <div class="profile-01 centered">
                        <p>STANDARD</p>
                    </div>
                    <div class="centered">
                        <h4>$10.000</h4>
                    </div>
                </div><! --/content-panel -->
                
            </div><! --/col-md-4 -->

            <! -- PRO -->
            <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <div class="content-panel pn">
                    <div id="profile-pro">
                        <!--premium image-->
                    </div>
                    <div class="profile-01 centered">
                        <p>PROFESIONAL</p>
                    </div>
                    <div class="centered">
                        <h4>$30.000</h4>
                    </div>
                </div><! --/content-panel -->
            </div><! --/col-md-4 -->

            <! -- PREMIUM -->
            <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <div class="content-panel pn">
                    <div id="profile-premium">

                    </div>
                    <div class="profile-01 centered">
                        <p>PREMIUM</p>
                    </div>
                    <div class="centered">
                        <h4>$50.000</h4>
                    </div>
                </div><! --/content-panel -->
            </div><! --/col-md-4 -->   
        </div>
        <!-- Subscription Description -->
         <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 mb">
                    <div class="weather-2 pn">
                        <div class="subscription-header weather-2-header">
                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    <p>STANDARD</p>
                                </div>
                            </div>
                        </div><!-- /weather-2 header -->
                        <div class="row data">
                            <div class="col-sm-6 col-xs-6 goleft">
                                <h4><b>16 ºC</b></h4>
                                <h6>21º max</h6>
                                <h6>8º min</h6>
                            </div>
                            <div class="col-sm-6 col-xs-6 goright">
                                <h5><i class="fa fa-sun-o fa-2x"></i></h5>
                                <h6><b>Sunny</b></h6>
                                <h5>7:15 am</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--End Suscription description-->
    </div>
</div>   




<script>
//custom select box

$(function(){
$('select.styled').customSelect();
});

</script>
